<style type="text/css">
	body{
		background: #2d2d30;
		font: 400 15px/1.8 Lato, sans-serif;
        color: white;
	}
	div#intro{
		/*background: #6ED0F6;	*/
		min-height: 80px;
		padding-top: 0%;
	}
	div#login{
		background: white;
		min-height: 590px;
		color: #2d2d30;
		padding-top: 30%; 
		padding-bottom: 50%;
	}
    
    div#arquivos{
		background: white;
		min-height: 590px;
		color: #2d2d30;
		padding-top: 5%; 
		padding-bottom: 5%;
	}
    
	div#login button{
		margin: 10% 0;
	}
    
    .img1{
        width: 300px;
        position: center;
    }
    
    .img2{
        width: 50px;
        margin-top: 1%;
        
    }

	/*Tablets*/
	@media screen and (min-width: 768px) {
	  div#login{
	  	padding-top: 10%;
	  	padding-bottom: 0;
	  }
	}

	/*Laptop*/
	@media screen and (min-width: 1024px){
		div#login{
			min-height: 786px;
			padding-top: 5%;
		}
	}

	/*Laptop L*/
	@media screen and (min-width: 1440px){
		div#login{
			min-height: 907px;
			padding-top: 5%;
		}
	}

	/*4K*/
	@media screen and (min-width: 2560px){
		div#login{
			min-height: 1685px;
			padding-top: 5%;
		}
	}


</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-xs-12" id="intro">
            
            <div align="left">  
                <img class="img2" src="../assets/images/upsafebranco.png"> 
                <h6> UpSafe!</h6>
            </div>
            
			
		</div>
		<div class="col-md-10 col-xs-12" id="arquivos">
			<div class="row">
                
                <div class="col-sm-3">
                    <div class="card  text-center">
                      <div class="card-block">
                        <h3 class="card-title">ARQUIVO</h3>
                        <p class="card-text">descrição</p>
                        <a href="#" class="btn btn-primary">BAIXAR</a>
                        <a href="#" class="btn btn-primary">APAGAR</a>
                      </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                    <div class="card  text-center">
                      <div class="card-block">
                        <h3 class="card-title">ARQUIVO</h3>
                        <p class="card-text">descrição</p>
                        <a href="#" class="btn btn-primary">BAIXAR</a>
                        <a href="#" class="btn btn-primary">APAGAR</a>
                      </div>
                    </div>
                </div>
                
                 <div class="col-sm-3">
                    <div class="card  text-center">
                      <div class="card-block">
                        <h3 class="card-title">ARQUIVO</h3>
                        <p class="card-text">descrição</p>
                        <a href="#" class="btn btn-primary">BAIXAR</a>
                        <a href="#" class="btn btn-primary">APAGAR</a>
                      </div>
                    </div>
                </div>
                
                 <div class="col-sm-3">
                    <div class="card  text-center">
                      <div class="card-block">
                        <h3 class="card-title">ARQUIVO</h3>
                        <p class="card-text">descrição</p>
                        <a href="#" class="btn btn-primary">BAIXAR</a>
                        <a href="#" class="btn btn-primary">APAGAR</a>
                      </div>
                    </div>
                </div>
                    
                   
                



		</div>
	</div>
</div>