<style type="text/css">
	body{
		background: #2d2d30;
		font: 400 15px/1.8 Lato, sans-serif;
        color: white;
	}
	div#intro{
		/*background: #6ED0F6;	*/
		min-height: 736px;
		padding-top: 20%;
		font-family: 'Spectral SC', serif;
	}
	div#login{
		background: white;
		min-height: 590px;
		color: #2d2d30;
		padding-top: 30%; 
		padding-bottom: 50%;
	}
	div#login button{
		margin: 10% 0;
	}
    
    .img1{
        width: 300px;
        position: center;
    }

	/*Tablets*/
	@media screen and (min-width: 768px) {
	  div#login{
	  	padding-top: 10%;
	  	padding-bottom: 0;
	  }
	}

	/*Laptop*/
	@media screen and (min-width: 1360px){
		div#login{
			min-height: 768px;
			padding-top: 5%;
		}
		div#intro{
			padding-top: 5%;
		}
	}
	@media screen and (min-width: 1366px){
		div#login{
			min-height: 768px;
			padding-top: 5%;
		}
		div#intro{
			padding-top: 5%;
		}
	}
	@media screen and (min-width: 1024px){
		div#login{
			min-height: 819px;
			padding-top: 5%;
		}
		div#intro{
			padding-top: 5%;
		}
	}

	/*Laptop L*/
	@media screen and (min-width: 1440px){
		div#login{
			min-height: 1440px;
			padding-top: 5%;
		}
	}

	/*4K*/
	@media screen and (min-width: 2560px){
		div#login{
			min-height: 1966px;
			padding-top: 5%;
		}
	}


</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-xs-12" id="intro">
			<h1 class="text-center">UpSafe</h1>
			<div align="center">  
                <img class="img1" src="../assets/images/upsafebranco.png">            
            </div>
            <h3 class="text-center">Simples. Seguro.</h3>
		</div>
		<div class="col-md-4 col-xs-12" id="login">
			<h2>Cadastre-se</h2>
			<form>
				<div class="form-group">
			    	<label for="nome">Nome</label>
			    	<input type="text" class="form-control" id="nome" placeholder="Nome" data-ng-model="User.user.nome">
			  	</div>
			  	<div class="form-group">
			    	<label for="email">Email</label>
			    	<input type="email" class="form-control" id="email" placeholder="Email" data-ng-model="User.user.email">
			  	</div>
			  	<div class="form-group">
			  		<label for="senha">Senha</label>
			  		<input type="password" class="form-control" id="senha" placeholder="Senha" data-ng-model="User.user.password">
			  	</div>
			  	<button type="submit" class="btn btn-default btn-lg btn-block" data-ng-click="User.cadastrar(User.user)">Cadastrar</button>
			</form>
			<p class="text-right">Já possui uma conta? <a href data-toggle="modal" data-target="#loginModal">Faça login</a></p>

			<!--Modal para login-->
			<div class="modal fade" id="loginModal" role="dialog" data-ng-controller = "LoginController as Login">
			 	<div class="modal-dialog">
			 		<!-- Modal content-->
			      	<div class="modal-content">
			        	<div class="modal-header">
			          		<h4 class="modal-title">Acesse a conta</h4>
			        	</div>
			        	<div class="modal-body">
			        		<form>
			        			<div class="form-group">
			        				<label for="email">Email</label>
			        				<input type="email" class="form-control" id="email" placeholder="Email" data-ng-model = "Login.user.email">
			        			</div>
			        			<div class="form-group">
			        				<label for="senha">Senha</label>
			        				<input type="password" class="form-control" id="senha" placeholder="Senha" data-ng-model="Login.user.password">
			        			</div>
			        			<button type="submit" class="btn btn-default btn-lg btn-block" data-ng-click="Login.login(Login.user)">Entrar</button>
			        			<button type="button" class="btn btn-default btn-lg btn-block" data-dismiss="modal">Fechar</button>
			        		</form>
			        	</div>
			        	
			      	</div>
			    </div>
			</div>
			<!--Fim do modal-->

		</div>
	</div>
</div>  							  	